
<div class="footer text-center pt-5 pb-5 m-0 w-100 ">
    <div class="container pe-auto w-90 ">
        <div class="row row-cols-lg-3 row-cols-md-1 row-cols-sm-1 text-center g-3">
            <div>
                <div class="inner pt-5 pb-5   text-center text-white">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div>
                <div class="inner pt-5 pb-5 text-center text-white">
                    <h3>AROUND THE WEB</h3>
                    <ul class="list-unstyled d-flex justify-content-center align-items-center ">
                        <li class="p-3">
                            <i class="fa-brands fa-facebook"></i>
                        </li>
                        <li class="p-3">
                            <i class="fa-brands fa-twitter"></i>
                        </li>
                        <li class="p-3" >
                            <i class="fa-brands fa-linkedin-in"></i>
                        </li>
                        <li class="p-3">
                            <i class="fa-solid fa-globe"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="inner pt-5 pb-5 text-center text-white">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                    
                </div>
            </div>

        </div>
    </div>
</div>