<div class="portfolio pt-5 pb-5 text-center">
    <h2 class="mb-5">portfolio component</h2>
    <div class="container">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
            <div>
                <img class="w-100" src="./assets/start-imgs/poert1.png" alt="">
            </div>
            <div>
                <img class="w-100" src="./assets/start-imgs/port2.png" alt="">
            </div>
            <div>
                <img class="w-100" src="./assets/start-imgs/port3.png" alt="">
            </div>
            <div>
                <img class="w-100" src="./assets/start-imgs/poert1.png" alt="">
            </div>
            <div>
                <img class="w-100" src="./assets/start-imgs/port2.png" alt="">
            </div>
            <div>
                <img class="w-100" src="./assets/start-imgs/port3.png" alt="">
            </div>


        </div>
    </div>
</div>
